.frame.div {
  position: relative;
  width: 402px;
  height: 1648px;
  background-color: #ffffff;
  aspect-ratio: 0.24;
}

@media (max-width: 768px) {
  .frame.div {
    width: 100vw;
    max-width: 100%;
    aspect-ratio: unset;
  }
}

.frame .overlap {
  position: absolute;
  width: 402px;
  height: 705px;
  top: 0;
  left: 0;
  background-image: url(image/background-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 768px) {
  .frame .overlap {
    width: 100%;
  }
}

.frame .text-wrapper {
  top: 86px;
  left: 112px;
  font-family: "Fira Code", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  position: absolute;
  line-height: normal;
}

.frame .top-message {
  position: absolute;
  top: 129px;
  left: 29px;
  font-family: "Noto Serif JP", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.frame .overlap-group {
  position: absolute;
  width: 375px;
  height: 310px;
  top: 222px;
  left: 27px;
}

.frame .image-pointer {
  position: absolute;
  width: 366px;
  height: 188px;
  top: 0;
  left: 9px;
  aspect-ratio: 1.96;
}

.frame .group {
  position: absolute;
  width: 284px;
  height: 130px;
  top: 180px;
  left: 0;
}

.frame .p {
  top: 28px;
  left: 12px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1.44px;
  position: absolute;
  line-height: normal;
}

.frame .span {
  letter-spacing: 0.26px;
}

.frame .text-wrapper-2 {
  font-size: 12px;
  letter-spacing: 0.12px;
}

.frame .text-wrapper-3 {
  top: 0;
  left: 0;
  text-shadow: 0px 2px 2px #0000007a;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.44px;
  position: absolute;
  line-height: normal;
}

.frame .cv-table {
  height: 98px;
  top: 577px;
  left: 36px;
  position: absolute;
  width: 332px;
}

.frame .cv-botton {
  height: 70px;
  top: 0;
  left: 0;
  position: absolute;
  width: 332px;
}

.frame .div-wrapper {
  position: relative;
  width: 330px;
  height: 70px;
  background-color: #5ca4a9;
  border-radius: 40px;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 22px;
  left: 60px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1.00px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 82px;
  left: 6px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
}

.frame .text-wrapper-6 {
  top: 778px;
  left: 83px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #5a2818;
  font-size: 20px;
  letter-spacing: 1.60px;
  white-space: nowrap;
  position: absolute;
  line-height: normal;
}

.frame .event-area-png {
  position: absolute;
  width: 311px;
  height: 311px;
  top: 848px;
  left: 46px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .text-wrapper-7 {
  top: 1228px;
  left: 126px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #5a2818;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.60px;
  white-space: nowrap;
  position: absolute;
  line-height: normal;
}

.frame .image-chat {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1276px;
  left: 44px;
}

.frame .LINE {
  top: 1349px;
  left: 48px;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.11px;
  position: absolute;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #5a2818;
  line-height: normal;
}

.frame .image-arrow {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 1356px;
  left: 112px;
}

.frame .imgae-form {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1276px;
  left: 128px;
}

.frame .text-wrapper-8 {
  height: 26px;
  top: 1347px;
  left: 132px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.11px;
  position: absolute;
  line-height: normal;
}

.frame .arrow {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 1356px;
  left: 196px;
}

.frame .image-reservation {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1276px;
  left: 210px;
}

.frame .text-wrapper-9 {
  height: 26px;
  top: 1348px;
  left: 209px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.11px;
  position: absolute;
  line-height: normal;
}

.frame .img {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 1356px;
  left: 282px;
}

.frame .image-store {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1276px;
  left: 294px;
}

.frame .text-wrapper-10 {
  height: 26px;
  top: 1347px;
  left: 298px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.11px;
  position: absolute;
  line-height: normal;
}

.frame .cv-table-2 {
  position: absolute;
  width: 332px;
  height: 98px;
  top: 1429px;
  left: 36px;
}

.frame .text-wrapper-11 {
  top: 82px;
  left: 6px;
  font-size: 13px;
  letter-spacing: 0.65px;
  position: absolute;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #5a2818;
  line-height: normal;
}

.frame.div-2 {
  width: 1920px;
  height: 1648px;
  background-color: #ffffff;
}

@media (max-width: 1919px) {
  .frame.div-2 {
    display: none !important;
  }
}

@media (min-width: 1920px) {
  .frame.div {
    display: none !important;
  }
}
