.frame {
  position: relative;
  width: 804px;
  height: 3296px;
  background-color: #ffffff;
}

.frame .overlap {
  position: absolute;
  width: 804px;
  height: 1410px;
  top: 0;
  left: 0;
  background-image: url(./img/background-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .text-wrapper {
  top: 171px;
  left: 225px;
  font-family: "Fira Code-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  position: absolute;
  line-height: normal;
}

.frame .top-message {
  position: absolute;
  top: 258px;
  left: 58px;
  font-family: "Noto Serif JP-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  letter-spacing: 5.76px;
  line-height: normal;
}

.frame .overlap-group {
  position: absolute;
  width: 750px;
  height: 617px;
  top: 444px;
  left: 54px;
}

.frame .image-pointer {
  position: absolute;
  width: 732px;
  height: 376px;
  top: 0;
  left: 18px;
  aspect-ratio: 1.96;
}

.frame .group {
  position: absolute;
  width: 564px;
  height: 257px;
  top: 360px;
  left: 0;
}

.frame .div {
  top: 56px;
  left: 23px;
  font-family: "Noto Sans JP-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2.88px;
  position: absolute;
  line-height: normal;
}

.frame .span {
  letter-spacing: 1.04px;
}

.frame .text-wrapper-2 {
  font-size: 24px;
  letter-spacing: 0.46px;
}

.frame .text-wrapper-3 {
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #0000007a;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2.88px;
  white-space: nowrap;
  position: absolute;
  line-height: normal;
}

.frame .cv-table {
  height: 194px;
  top: 1154px;
  left: 72px;
  position: absolute;
  width: 661px;
}

.frame .cv-botton {
  height: 139px;
  top: 0;
  left: 0;
  position: absolute;
  width: 661px;
}

.frame .div-wrapper {
  position: relative;
  width: 659px;
  height: 139px;
  background-color: #5ca4a9;
  border-radius: 80px;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 45px;
  left: 121px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 163px;
  left: 13px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.30px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  top: 1555px;
  left: 166px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #5a2818;
  font-size: 40px;
  letter-spacing: 3.20px;
  white-space: nowrap;
  position: absolute;
  line-height: normal;
}

.frame .event-area-png {
  position: absolute;
  width: 622px;
  height: 622px;
  top: 1697px;
  left: 91px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .text-wrapper-7 {
  top: 2457px;
  left: 252px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #5a2818;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3.20px;
  white-space: nowrap;
  position: absolute;
  line-height: normal;
}

.frame .image-chat {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 2552px;
  left: 89px;
}

.frame .LINE {
  top: 2698px;
  left: 97px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.22px;
  position: absolute;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #5a2818;
  line-height: normal;
}

.frame .image-arrow {
  position: absolute;
  width: 16px;
  height: 25px;
  top: 2712px;
  left: 223px;
}

.frame .imgae-form {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 2552px;
  left: 255px;
}

.frame .text-wrapper-8 {
  height: 52px;
  top: 2694px;
  left: 265px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.22px;
  position: absolute;
  line-height: normal;
}

.frame .arrow {
  position: absolute;
  width: 16px;
  height: 25px;
  top: 2712px;
  left: 393px;
}

.frame .image-reservation {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 2552px;
  left: 421px;
}

.frame .text-wrapper-9 {
  height: 52px;
  top: 2695px;
  left: 418px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.22px;
  position: absolute;
  line-height: normal;
}

.frame .img {
  position: absolute;
  width: 16px;
  height: 25px;
  top: 2712px;
  left: 563px;
}

.frame .image-store {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 2552px;
  left: 587px;
}

.frame .text-wrapper-10 {
  height: 52px;
  top: 2694px;
  left: 595px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #5a2818;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.22px;
  position: absolute;
  line-height: normal;
}

.frame .cv-table-2 {
  position: absolute;
  width: 661px;
  height: 194px;
  top: 2858px;
  left: 72px;
}

.frame .text-wrapper-11 {
  top: 163px;
  left: 13px;
  font-size: 26px;
  letter-spacing: 1.30px;
  white-space: nowrap;
  position: absolute;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #5a2818;
  line-height: normal;
}
